@model IEnumerable<CrudProjeto365.Models.Promocao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Embarque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desembarque)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Embarque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desembarque)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Promocao_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Promocao_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Promocao_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
